@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #16B378;
  --color-primary-hover: #009058;
  --color-secondary: #FFFFFF;
  --color-message: #DCF4EB;
  --color-message-hover: #E6F0EC;
  --color-table-header: #C1C1C1;
  --color-table-column-id: #E5E5E5;
  --color-table-cell: #F8F8F8;

  --font-lato: "Lato", sans-serif;
}

:root {
  font-family: var(--font-lato);
}
